h1 {
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    color: white;
  }
#header-text{

  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

