header nav a{
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    text-decoration: none;
    color: white;
    text-align: center;
    font-size:150%;
  }
header nav a:hover {
    text-decoration: underline;
  }