p {
    font-family: "Times New Roman", Times, serif;
    text-align: center;
  }

a:link {
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    text-decoration: none;
    color: black;
    text-align: center;
}
a:hover {
    text-decoration: underline;
  }
#linkedIn{
    text-align: center;
}