p {
    font-family: "Times New Roman", Times, serif;
    text-align: center;
  }

footer a {
    font-family: "Times New Roman", Times, serif;
    text-align: center;
    text-decoration: none;
    color: black;
    text-align: center;
}
footer a:hover {
    text-decoration: underline;
  }
#linkedIn{
    text-align: center;
}